html {
    font-family: "PT Sans", sans-serif;
    background-color: black;
}

body {
    background-color: #ffffff;
}

.whitetext,
.whitetext a,
.whitetext a:visited,
.whitetext a:focus
{
    color: #ffffff
}

.graytext,
.graytext a,
.graytext a:visited,
.graytext a:focus {
    color: #777777
}

.lightgray-bg {
    background-color: #dcdcdc;
}

.graybg {
    background-color: #777777;
}

.webpage::after {
    background-color: #777777;
    color: #ffffff;
}
.webpage:last-child::after {
    background-color: #ffffff;
}

.nav-main .btn-close {
    color: #ffffff;
    text-shadow: 0 1px 0 #000000;
}

.news-container .btn-close {
    color: #ffffff;
    text-shadow: 0 1px 0 #000000;
}

.nav-compact .menu-hamburger {
    border-right-color: white;
}
