doctype html
html
    head
        script(type="text/javascript" src="https://unpkg.com/vue/dist/vue.js")
        link(rel="stylesheet" href="normalize-v1.css")
        link(rel="stylesheet" href="index.css")

    body
        div.header#header(v-if="visible")
            // 10+980+10
            div.header-content
                // 100 px
                div.company-logo
                    img(v-bind:src="companyLogo.src" v-bind:width="companyLogo.width" v-bind:height="companyLogo.height" v-bind:alt="companyLogo.alt")
                div.company-brief
                    span.name Название компании
                    br
                    span.slogan самая клевая компания

                //div.company-brief Название компании
                //    br
                //    span.slogan самая клевая компания

                div.company-phones
                     span

        script(type="text/javascript" src="index.js")