/**
*
*
*
*
*
*
*   Footer looks good from W350px,
*   well from W400px to 500px to 600px,
*   good from W700px
*
*
*
*/

html {
    font-size: 14px;
}

body {
    font-size: 75%;
    line-height: 157%;
    max-width: 1400px;
    width: 100%;
    margin: auto;
}

.sm1-hidden {
    display: none;
}

.header {
    display: block;
    width: 100%;
}
.header-content {
    width: 310px;
    height: 210px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header .company-logo {
    height: 100px;
    width: 100px;
}
.header .company-brief {
    height: 100px;
}
.company-brief .name {
    top: 10px;
    font-weight: bold;
    font-size: 310%;
    line-height: 80%;
}
.company-brief .slogan {
    bottom: 10px;
    font-weight: bold;
    font-size: 135%;
}
.company-phones {
    margin-top: 110px;
    font-size: 286%;
    line-height: 110%;
}
.company-phones ul.phones-list {
    padding: 0;
}
.company-phones ul.phones-list > li {
}
.company-phones ul.phones-list > li:not(:last-child)::after {
}
.header .company-phones, .header .company-brief, .header .company-brief > span {
}
.copyright-info {
    position: absolute;
    display: inline-block;
    float: left;
    margin-left: 10%;
    width: 18em;
}
.copyright-info > span {
    display: inline-block;
}
.copyright-info > span:not(:last-child) {
    padding-right: 10px;
}






.nav-compact {
    padding-left: 7px;
    padding-right: 7px;
    font-size: 220%;
    line-height: 150%
}
.nav-compact .menu-hamburger {
    top: 3px;
    padding-right: 10px;
    margin-right: 10px;
    border-right-width: 1px;
    border-right-style: solid;
}

.nav-compact .label-news {

}



.nav-main {
    position: relative;
    padding: 10px 7px 3px;
    font-size: 120%;
    width: 100%;
    margin-right: auto;
    margin-left:  auto;
}
.nav-main ul,
.nav-main ul > li
{
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-main ul > li > a {
    display: block;
    width: 100%;
}
.nav-main nav,
.nav-main ul
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}
.nav-main nav,
.nav-main ul
{
    font-size: 120%;
    line-height: 120%;
    height: 8.5rem;
}
.nav-main nav > a,
.nav-main ul > li > a
/*.nav-main ul > li*/
{
    display: block;
    height: 2.5em;
    margin-left: 1rem;
    text-decoration: none;
}
.nav-main nav > a:hover,
.nav-main ul > li > a:hover
{
    text-decoration: underline;
}


.news-container {
    position: relative;
    padding: 10px 1rem 7px 1.5rem;
}
.news-container h2 {
    margin-top: 0;
}
.news-article-date {
    letter-spacing: 0.03rem;
    display: block;
}
.news-article-link {
    letter-spacing: 0.02rem;
    font-size: 130%;
    display: block;
    margin-bottom: 1.5rem;
}






.content-container {
    padding-left: 5px;
    padding-right: 10px;
}
.content-container .content {
    text-align: justify;
}



.footer {
    width: 100%;
}

.footer-content {
    height: 220px;
    position: relative;
    padding-top: 50px;
    padding-bottom: 10px;
}
.footer-navigation {
    position: absolute;
    display: inline-block;
    float: left;
    margin-left:  58%;
}
.footer-navigation ul,
.footer-navigation ul > li
{
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-navigation nav,
.footer-navigation ul
{
    font-size: 120%;
    line-height: 120%;
}
.footer-navigation nav > a,
.footer-navigation ul > li > a
{
    display: block;
    height: 2em;
    text-decoration: underline;
}

