doctype html
html
    head
        link(rel="stylesheet" href="normalize-v1.css")
        //link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans&amp;subset=cyrillic")
        link(rel="stylesheet" href="index.css")

    body
        div.header#header
            // 10+980+10
            div.header-content
                // 100 px
                div.company-logo
                div.company-brief
                div.company-phones

        script(type="javascript" src="https://unpkg.com/vue/dist/vue.js")
        script(type="javascript" src="index.js")