/**
*   Header loooks fine down to W:1024px (on initial settings)
*   Ok on W:768px (with .header-content width: auto)
*   Bit ugly slogan on W:640px (with .header-content width: auto)
*
*/

body {
    font-size: 100%;    /* 14px */
    line-height: 157%;  /* 22px */
    max-width: 1400px;
    width: 100%;
    margin: auto;
}

.lg-hidden {
    display: none;
}

.lg-element-vertically-centered {
    position: absolute;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
    -ms-transform: perspective(1px) translateY(-50%);
    transform: perspective(1px) translateY(-50%);
}


.header {
    display: block;
    width: 100%;
}


.header-content {
    position: relative;
    height: 210px;
    max-width: 1000px;
    padding-left: 10px;
    padding-right: 10px;
}
.header-content > div {
    margin-right: 13px;
}
.header .company-logo {
    display: inline-block;
    height: 100px;
    width: 100px;
}

.header .company-brief {
    left: 115px;
    padding-top: 20px;
}
.header .company-brief .name {
    display: inline-block;
    max-width: 200px;
    font-weight: bold;
    font-size: 240%;
    line-height: 80%;
    margin-bottom: 10px;
}
.header .company-brief .slogan {
    display: inline-block;
    font-size: 112%;
    margin-bottom: 15px;
}
.header .company-phones {
    right: 0px;
}
/*.header .company-phones,*/
.header .company-phones a
{
    font-size: 285%;
    line-height: 100%;
}

.header .company-phones, .header .company-brief, .header .company-brief > span {
    /*display: inline-block;*/
}





.content-area {
    position: relative;
    width: 100%;
    /*max-width: 1000px;*/
    margin-left: auto;
    margin-right: auto;
    /*height: 100%;*/
    /*height: 100vh;*/
}
.content-container {
    /*position: absolute;*/
    /*top: 100px;*/
    /*left: 100px;*/
    padding-left: 5px;
    padding-right: 10px;
}
.content-container .content {
    text-align: justify;
    width: 570px;
}

.news-container {
    position: absolute;
    /*padding: 22px 35px 0 35px;*/
    padding: 22px 35px;
    width: 350px;
    height: 740px;
}
.news-container h2 {
    margin-bottom: 10px;
}
.news-container .news-article-date {
    display: block;
    margin-top: 30px;
}
.news-container .news-archive-link {
    margin-top: 35px;
    margin-left: 160px;
    display: block;
    text-decoration: underline;

}

.nav-main ul {
    font-size: 215%;
    line-height: 100%;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.nav-main ul > li {
    margin-top: 7px;
    margin-bottom: 7px;
    display: inline-block;
    zoom: 1;
    padding-right: 2%;
    margin-right: 2%;
}
.nav-main ul > li:not(:last-child) {
    border-right: solid 1px white;
}

.footer {
    width: 100%;
}

.footer-content {
    height: 220px;
    position: relative;
    padding-top: 50px;
    padding-bottom: 10px;
}

.copyright-info {
    position: absolute;
    display: inline-block;
    float: left;
    margin-left: 10%;
    width: 18em;
}
.copyright-info > span {
    display: inline-block;
}
.copyright-info > span:not(:last-child) {
    padding-right: 10px;
}


.footer-navigation {
    position: absolute;
    display: inline-block;
    float: left;
    margin-left:  58%;
}
.footer-navigation nav,
.footer-navigation ul
{
    font-size: 120%;
    line-height: 120%;
}
.footer-navigation nav > a,
.footer-navigation ul > li > a
{
    display: block;
    height: 2em;
    text-decoration: underline;
}

