/**
*
*
*
*
*
*
*   Footer looks good from W350px,
*   well from W400px to 500px to 600px,
*   good from W700px
*
*
*
*/

html {
    font-size: 14px;
}

body {
    font-size: 75%;
    line-height: 157%;
    max-width: 1400px;
    width: 100%;
    margin: auto;
    height: 2000px;
}

.sm1-hidden {
    display: none;
}

.header {
    display: block;
    width: 100%;
}
.header-content {
    width: 310px;
    height: 210px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header .company-logo {
    height: 100px;
    width: 100px;
}
.header .company-brief {
    height: 100px;
}
.company-brief .name {
    top: 10px;
    font-weight: bold;
    font-size: 310%;
    line-height: 80%;
}
.company-brief .slogan {
    bottom: 10px;
    font-weight: bold;
    font-size: 135%;
}
.company-phones {
    margin-top: 110px;
    font-size: 286%;
    line-height: 110%;
}
.company-phones ul.phones-list {
    padding: 0;
}
.company-phones ul.phones-list > li {
}
.company-phones ul.phones-list > li:not(:last-child)::after {
}
.header .company-phones, .header .company-brief, .header .company-brief > span {
}


.menu {
    width: 100%;
}
.menu-content {
    height: 210px;
}


.footer {
    width: 100%;
}
.footer-content {
    height: 220px;
    position: relative;
    padding-top: 50px;
    padding-bottom: 10px;
}
.copyright-info {
    position: absolute;
    display: inline-block;
    float: left;
    margin-left: 10%;
    width: 18em;
}
.copyright-info > span {
    display: inline-block;
}
.copyright-info > span:not(:last-child) {
    padding-right: 10px;
}
.footer-navigation {
    position: absolute;
    display: inline-block;
    float: left;
    margin-left:  58%;
}
.footer-navigation nav {
    font-size: 120%;
    line-height: 120%;
}
.footer-navigation nav > a {
    display: block;
    height: 2em;
    text-decoration: underline;
}
