body {
    position: relative;
}

.footer {
    height: 220px;
    position: absolute;
    bottom: 0px;
}



.company-brief {
    position: relative;
}

.company-brief > * {
    position: absolute;
}
