body {
    position: relative;
}

.webpage {
    height: 100%;
}

.webpage::after {
    content: '';
    display: block;
    height: 220px;
}
.webpage:last-child::after {
    height: 15px;
}

.footer {
    position: absolute;
    bottom: 0;
}

.header-content, .footer-content, .menu-content {
    width: auto;
}

.company-brief {
    position: relative;
}

.company-brief > * {
    position: absolute;
}

a,
a:visited,
a:focus
{
    text-decoration: none;
}

