body {
    position: relative;
}

.webpage {
    height: 100%;
}

.webpage::after {
    content: '';
    display: block;
    height: 220px;
}
.webpage:last-child::after {
    height: 15px;
}

.footer {
    position: absolute;
    bottom: 0;
}

.header-content, .footer-content, .menu-content {
    width: auto;
}

.company-brief {
    position: relative;
}

.company-brief > * {
    position: absolute;
}

a,
a:visited,
a:focus
{
    text-decoration: none;
}

.btn-close {
    /*top: 10px;*/
    /*right: 10px;*/
    /*position: absolute;*/
    float: right;
    font-size: 180%;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-shadow: 0 1px 0 #000000;
    opacity: 0.7;
}


