/*
*   One might want to use Google Web Font Loader
*   https://github.com/typekit/webfontloader
*/

.image-wrapper {
    line-height: 0;
    overflow: hidden;
    padding: 0;
}

.image-wrapper > img {
    display: block;
}

.phones-list {
    list-style-type: none;
}

.block-horizontally-centered {
    width: 30px;
    margin-left: auto;
    margin-right: auto;
}

.element-vertically-centered {
    position: relative;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
    -ms-transform: perspective(1px) translateY(-50%);
    transform: perspective(1px) translateY(-50%);
}
